$fontSize: 37.5;
@function px2rem($px) {
  @return $px / $fontSize +rem;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin left() {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin right() {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  color: #333;
  font-size: px2rem(20);
}

@mixin ellipsis() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
