$animationTime: .2s;
$animationType: linear;
$ratio: 375/10;

.slide-down-enter, .slide-down-leave-to {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.slide-down-center-to, .slide-down-leave, .slide-up-center-to, .slide-up-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slide-down-leave-active, .slide-down-enter-active, .slide-up-leave-active, .slide-up-enter-active {
  transition: all 0.3s linear;
}

.slide-up-enter, .slide-up-leave-to {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.slide-right-enter, .slide-right-leave-to {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-right-center-to, .slide-right-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slide-right-leave-active, .slide-right-enter-active {
  transition: all 0.3s linear;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-center-to, .fade-leave {
  opacity: 0.8;
}

.fade-leave-active, .fade-enter-active {
  transition: all 0.3s linear;
}

.popup-slide-up-center-to, .popup-slide-up-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.popup-slide-up-leave-active, .popup-slide-up-enter-active {
  transition: all 0.1s linear;
}

.popup-slide-up-enter, .popup-slide-up-leave-to {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.title-move-enter, .title-move-leave-to {
  opacity: 0;
  transform: translate3d(0, px2rem(10), 0);
}

.title-move-enter-to, .title-move-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.title-move-leave-active, .title-move-enter-active {
  transition: all 0.3s linear;
}

.hot-search-move-enter, .hot-search-move-leave-to {
  opacity: 0;
  transform: translate3d(0, px2rem(30), 0);
}

.hot-search-move-enter-to, .hot-search-move-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.hot-search-move-leave-active, .hot-search-move-enter-active {
  transition: all 0.3s linear;
}
